.features {
    grid-column: center-start / center-end;
    
    display: grid;

    //grid-template-columns: repeat(3, 1fr);
    //responsive design writing 
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    
    grid-gap: 6rem;

    // u can see that (1,3) (2,3) grid items have smaller text than other,
    // but since align-items is default set to stretch it is forced to occupy all the 
    // entire grid-cell, and hence it looks wierd (more space b/w heading and text)
    // sol: set grid-items alignment to start of grid-cells
    align-items: start;
}

.feature {

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;

    &__icon {
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;
        grid-row: 1 / span 2; // we CANT use -1 because -1 specifies end of EXPLICIT grid
        transform: translateY(-1rem);
    }

    &__text {
        font-size: 1.7rem;
    }
}
